<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      El proyecto no busca solo incluir software libre y de código abierto, sino ser el líder en ese ámbito tecnológico.<br>
      Mas información
      <a href="https://getfedora.org/es/" target="_blank" rel="noopener">Documentación sobre Fedora</a>.
    </p>
    <h3>Ediciones</h3>
    <p>
       Workstation, Server y Cloud.
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
